<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    </div>
    <div class="container" style="justify-content: center;">
        <div style="display: flex; width: 100%; justify-content: center;">
            <div id="phone-tablet-only" style="position: absolute; top: 0; left: auto;">
                {{ partial "footer.html" . }}
            </div>
            <div id="desktop-only" style="position: absolute; top: 0;">
                {{ partial "footer.html" . }}
            </div>
        </div>

        <div class="content, guide-toc" style="justify-content: center;">
            {{ block "main" . }}{{ end }}
        </div>
        {{ partial "header.html" . }}
    </div>
    {{ partial "javascript.html" . }}
</body>

</html>