.footer {
  color: $light-color-secondary;
  display: flex;
  &__inner {
    width: 100%;
    padding: 0.75rem;

    @media #{$media-size-tablet} {
      flex-direction: row;
    }

    [data-theme="light"] & {
      color: #dcdcdc;
    }
    [data-theme="dark"] & {
      color: #4e4e57;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    width: 100%;

    @media #{$media-size-tablet} {
      flex-direction: row;
    }

    & > *:not(:last-child)::after {
      content: "•";
      padding: 0;
      margin: 0 5px;
      font-size: 0.5rem;

      @media #{$media-size-tablet} {
        content: "";
        padding: 0px;
      }
    }

    & > *:last-child {
      padding: 0px;

      @media #{$media-size-tablet} {
        padding: 0;
      }
    }
  }
}

a:hover {
  color: $meme-primary-color;
}
