.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // Default
  background: $light-background-header;
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 0;
  margin: 0;

  @media #{$media-size-phone} {
    flex-direction: row;
    bottom: 0;
  }

  @media (prefers-color-scheme: dark) {
    background: $dark-background-header;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-header;
  }

  [data-theme="dark"] & {
    background: $dark-background-header;
  }

  [data-theme="light"] & {
    background: $light-background-header;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;

    @media #{$media-size-phone} {
      flex-direction: row;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: sticky;
    bottom: 0;
    padding: 0 0.5rem;

    @media #{$media-size-phone} {
      margin: 0.5rem 0;
    }
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media #{$media-size-tablet} {
    margin-right: 0rem;
  }
}

.not-selectable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
