<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{ partial "head.html" . }}
</head>

{{ block "body" . }}

<body>
    {{ end }}

    <div class="container">
        {{ block "footer" . }}
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; height: 4.5%;">
            <div id="phone-tablet-only" style="width: 100%;">
                {{ partial "footer.html" . }}
            </div>
            <div id="desktop-only" style="width: 100%;">
                {{ partial "footer.html" . }}
            </div>
        </div>
        {{ end }}

        <div class="content">
            {{ block "main" . }}{{ end }}
        </div>


        {{ partial "header.html" . }}


    </div>
    {{ partial "javascript.html" . }}

</body>

</html>