<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <!-- Container -->
    <div class="container">
        <div id="phone-tablet-only">
            {{ partial "footer.html" . }}
        </div>
        <div id="desktop-only">
            {{ partial "footer.html" . }}
        </div>

        <div class="content">

            {{ block "main" . }}{{ end }}
        </div>
        {{ partial "header.html" . }}

    </div>
    <!-- Container -->
    <!-- Bottom menu -->

    <!-- Bottom menu -->
    {{ partial "javascript.html" . }}
</body>

</html>