<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    </div>
    <div class="container">
        <div class="fixed-footer">
            <div id="phone-tablet-only">
                {{ partial "footer.html" . }}
            </div>
            <div id="desktop-only">
                {{ partial "footer.html" . }}
            </div>
        </div>
        <div class="home-content">
            <p>Work in progress.</p>
        </div>
        {{ partial "header.html" . }}
    </div>
    {{ partial "javascript.html" . }}
</body>

</html>