<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    </div>
    <div class="w100 flex col justify-center align-center">
        <!-- Footer (top part) START -->
        <div style="display: flex; width: 100%; justify-content: center;">
            <div id="phone-tablet-only" style="position: absolute; top: 0; left: auto;">
                {{ partial "footer.html" . }}
            </div>
            <div id="desktop-only" style="position: absolute; top: 0;">
                {{ partial "footer.html" . }}
            </div>
        </div>
        <!-- Footer (top part) END -->
        <div class="content h100">
            {{ block "main" . }}
            {{ end }}
        </div>


        {{ partial "header.html" . }}
    </div>
    {{ partial "javascript.html" . }}
</body>

</html>